* 
{
    box-sizing: border-box;
}

:root {
    --gray: #2E2E2E;
}

/* body styling */
body {
    font-family: monospace;
    font-size: large;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    z-index: -1;
    background-color: transparent;
}

/* Terminal Div */
.terminal-div 
{
    height: 100%;
    width: 100%;
    min-width: 350px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    background-image: linear-gradient(to right, var(--gray), #565656);
    position: absolute;
    border-radius: 5px;
    resize: both;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    z-index: 1;
}

.terminal-header {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: grab;
}

.title {
    margin-right: auto;
    margin-left: 5px;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.control {
    height: 100%;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control svg path {
    stroke: white;
}

.terminal-chat 
{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    scrollbar-width: thin;

    div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    background-color: black;
}

.comments {
    display: flex;
    flex-direction: column;
    /* color: red; */
}

.comment-div {
    display: grid;
    grid-template-columns: auto 8fr;
    gap: 10px;
    margin-top: 20px;
}

.user-command {
    width: 95%;
    border: none;
    font-family: monospace;
    caret-color: white;
    color: white;
    background-color: black;
    font-size: large;
    touch-action: none;
}

.red {
    color: palevioletred;
}

.purple {
    color: rgba(219, 120, 255, 0.3);
}

.blue {
    color: lightblue;
}

.green {
    color: greenyellow;
}
.yellow
{
    color: yellow;
}
.white
{
    color: white;
}
span {
    white-space: nowrap;
}

.user-command:focus {
    outline: none;
}

/* themes */

.default {
    background-image: linear-gradient(to right, lightblue, blue);

    .terminal-chat,
    .user-command {
        background-color: black;
        color: white;
    }

    .terminal-chat {
        scrollbar-color: var(--gray) black;
    }
}

.light {
    background-image: linear-gradient(to left, rgb(208, 243, 255), white);

    .termlogo {
        color: navy;
    }

    .termlogo svg path {
        fill: paleturquoise;
    }

    .terminal-header {
        background-color: lightskyblue;
    }

    .terminal-chat,
    .terminal-chat input {
        color: navy;
        background-color: white;
        /* scrollbar-color: lightblue white; */
        caret-color: navy;
    }

    .termlogo:hover {
        background-color: rgba(120, 190, 255, 0.3);
    }
}