#
# CAUTION! CUIDADO! ACHTUNG! ATTENDEZ! OPREZ! SAAVADHAAN!
#
# Changing your MySQL password here DOES NOT CHANGE IT
# IN MYSQL!!!
# Change your MySQL password from within MySQL - and THEN and ONLY THEN
# update the password string here to match the new password!
# passwords must contain at least one each of the following:
# an UPPER CASE letter
# a lower case letter
# a number 1-9
# a special character: '!@#0^&-=+'
# the password should be at least 12 characters long
#
[client]
user='iste240t50'
password='Potations4#emydidae'
