@font-face {
    font-family: "Handjet";
    src: url('Handjet.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    background: black;
    font-family: "Handjet", Arial, Helvetica, sans-serif
}

.grid_container{
    display: grid;
    grid-template-areas: 
    'title title title'
    'navbar navbar navbar-2';
    gap: 10px;
}

#title {
    grid-area: title;
    display: grid;
    max-width: 70vw;
    justify-self: center;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
}

.navbar{
    grid-area: navbar;
    width: fit-content;
}

.navbar, .navbar-2{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    color: #ED1C24;
    background: lightgray;
}

.navbar li{
    position: relative;
    padding-right: 1.5rem;
}

.navbar li::after{
    content: "|";
    color: gray;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar li:last-child::after{
    content: none;
}

.navbar li a{
    display: inline-block;
    padding-right: 0.5rem;
}

.navbar-2 {
    grid-area: navbar-2;
}

a {
    color: red;
    text-decoration: none;
}