@font-face {
    font-family: "Handjet";
    src: url('Handjet.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    background: black;
    font-family: "Handjet", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

.grid_container{
    display: grid;
    grid-template-areas: 
    'title'
    'nav-main';
    gap: 20px;
    justify-items: center;
}

#title {
    grid-area: title;
    max-width: 100%;
    height: auto;
}

nav {
    grid-area: nav-main;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1.5rem;
}

.navbar, .navbar-2{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    background: lightgray;
    margin: 0;
}

.navbar li{
    position: relative;
    padding-right: 1.5rem;
}

.navbar li::after{
    content: "|";
    color: gray;
    position: absolute;
    right: 0;
}

.navbar li:last-child::after{
    content: none;
}

a {
    color: red;
    text-decoration: none;
}