@font-face {
    font-family: "Handjet";
    src: url('Handjet.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    background: black;
    font-family: "Handjet", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

.grid_container{
    display: grid;
    grid-template-areas: 
    'title'
    'nav-main';
    gap: 20px;
    justify-items: center;
}

#title_pc {
    grid-area: title;
    max-width: 100%;
    height: auto;
}

#title_mobile {
    display: none;
}

#mobile_nav {
    display: none;
}

nav {
    grid-area: nav-main;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1.5rem;
}

.navbar, .navbar-2{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    background: lightgray;
    margin: 0;
}

.navbar li{
    position: relative;
    padding-right: 1.5rem;
}

.navbar li::after{
    content: "|";
    color: gray;
    position: absolute;
    right: 0;
}

.navbar li:last-child::after{
    content: none;
}

a {
    color: red;
    text-decoration: none;
}

.start-learning {
    background-color: #d9d9d9;
    color: #f62c2c;
    width: 25vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.action-header {
    color: #006700;
    font-size: 50px;
}


h1 {
    margin-top: 32rem;
    margin-left: 3rem;
    color: #009444;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.tracks {
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 2rem;
    font-size: 2rem;
    justify-self: center;
    color: #ED1C24;
    background: lightgray;
}

#tracks_grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.tracks:hover {
    color: #FFF200;
}

@media (max-width: 600px) {
    #title_pc {
        display: none;
    }

    #title_mobile {
        display: flex;
        justify-self: center;
        max-width: 60vw;
    }

    #mobile_nav {
        display: block;
        position: absolute;
        max-width: 5rem;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
    }

    nav {
        display: none;
    }

    #tracks_grid {
        grid-template-columns: auto;
    }

    h1 {
        display: flex;
        justify-self: center;
        margin-left: 0px;
        font-size: 3rem;
    }

    .tracks {
        font-size: 1.3rem;
        padding:2rem;
    }
}